<?xml version="1.0"?>
<ruleset name="ParsYar">
    <description>Coding standards for ParsYar Enterprise Core.</description>

    <file>.</file>
    <exclude-pattern>vendor/</exclude-pattern>
    <exclude-pattern>node_modules/</exclude-pattern>
    <exclude-pattern>tests/</exclude-pattern>

    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg value="sp"/>

    <rule ref="WordPress">
        <exclude name="Generic.Files.LineLength.TooLong"/>
        <exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
        <exclude name="WordPress.NamingConventions.ValidVariableName"/>
    </rule>

    <rule ref="WordPress.Security.EscapeOutput"/>
    <rule ref="WordPress.Security.ValidatedSanitizedInput"/>
    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array" value="enterprise-core"/>
        </properties>
    </rule>
</ruleset>
