<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    beStrictAboutOutputDuringTests="true"
    failOnRisky="true"
    failOnWarning="true"
    executionOrder="random"
    resolveDependencies="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
            <exclude>tests/unit/Integration</exclude>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>includes</directory>
            <directory>modules</directory>
            <directory>api</directory>
        </include>
    </source>
    <coverage>
        <report>
            <text outputFile="build/coverage.txt"/>
            <html outputDirectory="build/coverage"/>
        </report>
    </coverage>
    <php>
        <const name="WP_TEST" value="1"/>
        <const name="ABSPATH" value="/tmp/wp-test/"/>
    </php>
</phpunit>
